<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Bem Vindo! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Doceria & Cafeteria</ion-card-subtitle>
      <ion-card-title>Gourlart Doceria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Bem vindo a nossa loja, sinta-se a vontade para provar os nossos
        melhores doces e aquecer o dia com um café bem quente!.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Siga-nos nas redes sociais</ion-label>
    </ion-list-header>
    <ion-item href="https://twitter.com">
      <ion-icon slot="start" color="medium" name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-item>
    <ion-item href="https://instagram.com">
      <ion-icon slot="start" color="medium" name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-item>
    <ion-item href="https://facebook.com">
      <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="logo-whatsapp"></ion-icon>
      <ion-label>WhatsApp - (21) 959541900</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
